.App {
  text-align: center;
  height: 75vh;
  width: 600px;
  margin: 80px 0 0 0;
  padding: 1%;
  background-color: #fafafa;
  border: 1px solid #ebebeb;
  border-radius: 4%;
  /* padding: 10% 25% 0 25%; */
}
